@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700;800&display=swap");
body {
  background: #FAFAFA;
  margin: 0;
  font-family: 'Nunito', 'Inter';
}

div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5.5em;
  margin-bottom: 5.5em;
}

div.left-col .card-container {
  position: relative;
  margin-left: 3em;
}

div.left-col .card-container div.overlay {
  position: absolute;
  border-radius: 18px;
  background: #2b2b2b;
  background: -webkit-gradient(linear, left bottom, left top, from(#2b2b2b), color-stop(44%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, #2b2b2b 0%, rgba(255, 255, 255, 0) 44%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.left-col .card-container video.prev {
  width: 40em;
  height: 52em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
}

div.left-col .card-container div.text-card-container .first {
  margin-left: .5em;
}

div.left-col .card-container div.text-card-container .third {
  margin-left: 1em;
}

div.left-col .card-container div.text-card-container .text-content {
  color: white;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  z-index: 3;
  bottom: 150px;
  left: 125px;
}

div.left-col .card-container div.text-card-container .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

div.left-col .card-container div.text-card-container .dot1 {
  height: 10px;
  width: 40px;
  background-color: #717171;
  border-radius: 100px;
  margin-right: .5em;
  position: absolute;
  top: 47em;
  left: 15.9em;
  z-index: 4;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

div.left-col .card-container div.text-card-container .dot2 {
  height: 10px;
  width: 40px;
  background-color: #717171;
  border-radius: 100px;
  margin-right: .5em;
  position: absolute;
  top: 47em;
  left: 19.2em;
  z-index: 4;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

div.left-col .card-container div.text-card-container .dot3 {
  height: 10px;
  width: 40px;
  background-color: #717171;
  border-radius: 100px;
  margin-right: .5em;
  position: absolute;
  top: 47em;
  left: 22.5em;
  z-index: 4;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

div.left-col .card-container div.text-card-container .active {
  background-color: white;
}

div.right-col {
  display: block;
  margin-right: 5em;
}

div.right-col p.ingat-pass {
  font-family: 'Nunito';
  text-align: center;
  color: #464646;
  /* visited link */
  /* mouse over link */
}

div.right-col p.ingat-pass a {
  font-weight: 800;
}

div.right-col p.ingat-pass a:link {
  color: #464646;
}

div.right-col p.ingat-pass a:visited {
  color: #464646;
}

div.right-col p.ingat-pass a:hover {
  color: gray;
}

div.right-col a.logo img {
  image-rendering: -webkit-optimize-contrast;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
}

div.right-col h1.forgot-pass-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2em;
}

div.right-col div.forgot-pass-card div.forgot-pass-container {
  background-color: white;
  padding: 16px 30px;
  border-radius: 8px;
  margin-bottom: 3em;
  position: relative;
}

div.right-col div.forgot-pass-card div.forgot-pass-container .form-field label {
  margin-top: 1em;
  display: block;
  font-size: 15px;
  color: #898989;
}

div.right-col div.forgot-pass-card div.forgot-pass-container .form-field input#id-email {
  display: inline-block;
  background-color: #FAFAFA;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  color: #898989;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  padding: 15px 16px;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.right-col div.forgot-pass-card div.forgot-pass-container .form-field input#id-email:focus {
  outline: none;
  border: 1px solid #18625D;
  color: #18625D;
  background: #EDF8F7;
  box-shadow: 0px .3px 0px 4px #B4D2D0;
  -webkit-box-shadow: 0px .3px 0px 4px #B4D2D0;
  -moz-box-shadow: 0px .3px 0px 4px #B4D2D0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

div.right-col div.forgot-pass-card div.forgot-pass-container .form-field input#btn-send-email {
  color: white;
  background-color: #1F7973;
  font-family: 'Nunito';
  font-size: 15px;
  font-weight: 500;
  border: none;
  margin-top: 1.5em;
  margin-bottom: 1em;
  display: inline-block;
  width: 100%;
  padding: 15px 24px;
  border-radius: 5px;
  cursor: pointer;
}

div.right-col div.forgot-pass-card div.forgot-pass-container .form-field ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #898989;
  opacity: 1;
  /* Firefox */
}

div.right-col div.forgot-pass-card div.forgot-pass-container .form-field :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #898989;
  opacity: 1;
  /* Firefox */
}

div.right-col div.forgot-pass-card div.forgot-pass-container .form-field ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #898989;
  opacity: 1;
  /* Firefox */
}

div.right-col div.forgot-pass-card div.forgot-pass-container .form-field ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #898989;
  opacity: 1;
  /* Firefox */
}

div.right-col div.forgot-pass-card div.pass-container {
  background-color: white;
  padding: 16px 30px;
  border-radius: 8px;
  margin-bottom: 3em;
  position: relative;
  width: 22em;
}

div.right-col div.forgot-pass-card div.pass-container input {
  display: inline-block;
  background-color: #FAFAFA;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  color: #898989;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Nunito';
  width: 100%;
  padding: 15px 16px;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.right-col div.forgot-pass-card div.pass-container input:focus {
  outline: none;
  border: 1px solid #18625D;
  color: #18625D;
  background: #EDF8F7;
  box-shadow: 0px .3px 0px 4px #B4D2D0;
  -webkit-box-shadow: 0px .3px 0px 4px #B4D2D0;
  -moz-box-shadow: 0px .3px 0px 4px #B4D2D0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

div.right-col div.forgot-pass-card div.pass-container ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #898989;
  opacity: 1;
  /* Firefox */
}

div.right-col div.forgot-pass-card div.pass-container :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #898989;
  opacity: 1;
  /* Firefox */
}

div.right-col div.forgot-pass-card div.pass-container ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #898989;
  opacity: 1;
  /* Firefox */
}

div.right-col div.forgot-pass-card div.pass-container ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #898989;
  opacity: 1;
  /* Firefox */
}

div.right-col div.forgot-pass-card div.pass-container p {
  color: #898989;
  padding-left: 2em;
}

div.right-col div.forgot-pass-card div.pass-container input#btn-make-pass {
  color: white;
  background-color: #1F7973;
  font-size: 15px;
  font-weight: 500;
  border: none;
  margin-top: 2em;
  display: inline-block;
  width: 100%;
  padding: 15px 24px;
  border-radius: 5px;
  cursor: pointer;
}

div.right-col div.forgot-pass-card div.pass-container .valid {
  background-image: url("../img/check-valid.png");
  background-repeat: no-repeat;
  background-position-x: .1em;
}

div.right-col div.forgot-pass-card div.pass-container .invalid {
  background-image: url("../img/check-invalid.png");
  background-repeat: no-repeat;
  background-position-x: .1em;
}

div.right-col div.forgot-pass-card div.feedback {
  display: none;
  text-align: center;
}

div.right-col div.forgot-pass-card div.feedback h1 {
  font-size: 32px;
}

div.right-col div.forgot-pass-card div.feedback p {
  font-size: 20px;
  font-weight: 600;
}

div.right-col div.forgot-pass-card div.feedback img {
  margin: 2em;
}

div.right-col div.forgot-pass-card div.feedback button {
  background-color: #18625D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Nunito';
  border-radius: 5px;
  width: 15em;
  margin-top: 2em;
}

div.right-col div.forgot-pass-card div.feedback button a {
  text-decoration: none;
  color: white;
}

div.right-col div.forgot-pass-card p.ingat-pass {
  font-family: 'Nunito';
  text-align: center;
  color: #464646;
  /* visited link */
  /* mouse over link */
}

div.right-col div.forgot-pass-card p.ingat-pass a {
  font-weight: 800;
}

div.right-col div.forgot-pass-card p.ingat-pass a:link {
  color: #464646;
}

div.right-col div.forgot-pass-card p.ingat-pass a:visited {
  color: #464646;
}

div.right-col div.forgot-pass-card p.ingat-pass a:hover {
  color: gray;
}

div.bottom-bar {
  background-color: white;
  bottom: 0;
  width: 100%;
}

div.bottom-bar .bot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 28px 24px;
}

div.bottom-bar .bot-container .copy {
  color: #929292;
}

div.bottom-bar .bot-container .left-col-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-left: 2em;
}

div.bottom-bar .bot-container .left-col-copy .logo {
  margin-right: 1.5em;
}

div.bottom-bar .bot-container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2em;
}

div.bottom-bar .bot-container a {
  margin-right: 1em;
  text-decoration: none;
  color: #5E5E5E;
}

div.bottom-bar .bot-container img {
  image-rendering: -webkit-optimize-contrast;
  margin-right: .6em;
}

div.bottom-bar .bot-container div.sep {
  margin-right: 1em;
  color: #D9D9D9;
}

@media only screen and (min-width: 1500px) {
  .container {
    width: 1500px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1350px) {
  div.left-col {
    display: none;
  }
  div.right-col {
    margin-left: 5em;
  }
}

@media only screen and (max-width: 1260px) {
  .bot-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bot-container a.logo {
    margin-bottom: 1em;
  }
  .bot-container .left-col-copy {
    margin-bottom: 1.9em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bot-container .socials {
    margin-left: 2.5em;
  }
}

@media only screen and (max-width: 620px) {
  div.container {
    margin-top: 3em;
  }
  div.right-col {
    margin: 0 auto;
  }
  div.right-col h1.forgot-pass-title {
    margin-top: 0;
    font-size: 22px;
  }
  div.right-col a.logo img {
    margin-bottom: 2em;
  }
  div.right-col div.forgot-pass-card div.forgot-pass-container {
    margin: 3em;
  }
  div.right-col div.forgot-pass-card div.feedback h1.feedback {
    font-size: 20px;
  }
  div.right-col div.forgot-pass-card div.feedback p.feedback {
    font-size: 16px;
  }
  .bot-container .left-col-copy {
    color: #929292;
    margin-bottom: 2.5em;
  }
  .bot-container .left-col-copy div.copy {
    margin-right: 1.5em;
    font-size: 15px;
    text-align: center;
  }
  .bot-container .socials {
    font-size: 14px;
    margin-left: 3em;
  }
}

@media only screen and (max-width: 480px) {
  div.right-col div.forgot-pass-card div.pass-container {
    width: 18.4em;
  }
}
/*# sourceMappingURL=forgotpass.css.map */